body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: hsl(0, 0%, 100%);
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  background-color: rgb(199, 199, 199);
  padding: 30px;
}

.display {
  background-color: hsl(193, 90%, 94%);
  border-radius: 20px;
  font-size: 4rem;
  font-weight: bold;
  padding: 30px;
  margin-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(60, 60, 60);
}

.controls button {
  font-size: 2rem;
  font-weight: bold;
  padding: 12px 30px;
  margin: 12px;
  border-radius: 12px;
  border: none;
  color: white;
  transition: 0.1s ease-in-out;
}

.start-button {
  background-color: hsl(120, 100%, 40%);
}

.start-button:hover {
  background-color: hsl(120, 100%, 20%);
}

.stop-button {
  background-color: hsl(0, 100%, 60%);
}

.stop-button:hover {
  background-color: hsl(0, 100%, 40%);
}

.reset-button {
  background-color: hsl(240, 100%, 66%);
}

.reset-button:hover {
  background-color: hsl(240, 100%, 40%);
}
